{:deps {com.lambdaisland/dotenv {:mvn/version "0.2.5"}
        io.grpc/grpc-netty-shaded {:mvn/version "1.61.0"}
        io.grpc/grpc-protobuf {:mvn/version "1.61.0"}
        io.grpc/grpc-stub {:mvn/version "1.61.0"}
        javax.annotation/javax.annotation-api {:mvn/version "1.3.2"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.rosuda.REngine/REngine {:mvn/version "2.1.0"}}
 :paths ["src"]
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
                   :ns-default build}}}
