importFrom("rJava", ".jaddClassPath", ".jcall", ".jengine", ".jinit", ".jnew", "J", "toJava")
importFrom("Rserve", "ocap", "Rserve")

export(grpc_server)
export(grpc_client)
export(grpc_request)
export(rserve_init)
